.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
locale/*/*.edit.po
locale/*/*.po.time_stamp
locale/*/*.pox
node_modules
package-lock.json
Gemfile.lock
coverage
.idea/
.eslintignore
*.gem
locale/action_names.rb
