name: JavaScript Testing
on:
  pull_request:
    paths:
      - 'webpack/**'
      - 'package.json'
      - '.github/workflows/js_tests.yml'
env:
  RAILS_ENV: test
jobs:
  test_js:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [10, 12]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version:  ${{ matrix.node-version }}
      - name: restore node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-modules-${{ matrix.node-version }}-${{ hashFiles('package-json.lock') }}
          restore-keys: ${{ runner.os }}-fgems-${{ matrix.ruby-version }}-
      - name: Npm install
        run: npm install
      - name: Run plugin linter
        run: npm run lint
      - name: Run plugin tests
        run: npm run test
